*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 20px;
}
body {
  padding: 0;
  background: #fff;
  color: #000;
  font-family: sans-serif;
}
.wrapper {
  max-width: 36rem;
  margin: 0 auto;
  padding: 1.5rem;
}
.wrapper > header > a {
  font-weight: bold;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 2.5rem;
  margin: 1.5rem 0;
  letter-spacing: -0.03em;
  line-height: 0.95;
}
p {
  margin: 1.5rem 0;
  line-height: 1.5;
  font-size: 110%;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 1rem;
  color: #333;
  background: #f2f2f2;
}
.hljs-comment,
.hljs-quote {
  color: #999;
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #088;
}
.hljs-string,
.hljs-doctag {
  color: #d14;
}
.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}
.hljs-subst {
  font-weight: normal;
}
.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}
.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}
.hljs-regexp,
.hljs-link {
  color: #092;
}
.hljs-symbol,
.hljs-bullet {
  color: #907;
}
.hljs-built_in,
.hljs-builtin-name {
  color: #08b;
}
.hljs-meta {
  color: #999;
  font-weight: bold;
}
.hljs-deletion {
  background: #fdd;
}
.hljs-addition {
  background: #dfd;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
pre {
  overflow-x: auto;
  border-radius: 0.5rem;
  padding: 1rem;
  color: #333;
  background: #f2f2f2;
}
